@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,200&subset=latin,latin-ext);

/*--------------------------------------------------------------------------*/
/*--- generic page settings ------------------------------------------------*/
/*--------------------------------------------------------------------------*/

body {
  background-color : black;
  color : #ddd;
  font-family : 'Work Sans', sans-serif;
  font-size : 16pt;
}

/*--------------------------------------------------------------------------*/
/*--- gallery title --------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

#title {
  padding-bottom : 0.3em;
  float : left;
}

span.date{
  color : #888;
}

/*--------------------------------------------------------------------------*/
/*--- gallery images -------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

#gallery {
  padding: 0px;
  margin: -6px;
  overflow: hidden;
  clear : left;
  -moz-user-select : none;
  -webkit-user-select : none;
  -ms-user-select : none;
  user-select : none;
}

div.image {
  position: relative;
  float: left;
  margin: 2px;
  cursor : pointer;
}

/*--------------------------------------------------------------------------*/
/*--- image captions -------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

div.caption {
  display : none;
  position : absolute;
  left : 1em;
  bottom : 1em;
  background-color : rgba(0,0,0,0.5);
  padding : 0.4em;
  font-size : 75%;
}

div.image:hover div.caption {
  display : block;
}

div.imgwrap:hover div.caption {
  display : block;
}

/*--------------------------------------------------------------------------*/
/*--- navigation icons -----------------------------------------------------*/
/*--------------------------------------------------------------------------*/

#nav {
  text-align : right;
  padding-top : 0.2em;
}

#nav .fa {
  display : none;
}

.fa {
  color : #444;
  transition : color 0.3s ease;
}

.fa:hover {
  cursor : pointer;
}

#topnav:hover .fa {
  color : white;
  transition : color 0.3s ease;
}

/*--------------------------------------------------------------------------*/
/*--- single image browser -------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/*--- this blackens out the whole screen */
div#browse {
  display : none;
  position : fixed;
  left : 0px;
  top : 0px;
  width : 100%;
  height : 100%;
  background-color : black;
  cursor : pointer;
}

/*--- the actual full-screen image */
.overlay {
  position : fixed;
  left : 0px;
  top : 0px;
  right : 0px;
  bottom : 0px;
  margin : auto;
  -moz-user-select : none;
  -webkit-user-select : none;
  -ms-user-select : none;
  user-select : none;
}

/*--- these two classes make the .overlay image fit into the viewport */
/*--- while keeping their aspect ratio */
.portrait {
  min-height : 100%;
  max-height : 100%;
  width : auto;
}
.landscape {
  min-width : 100%;
  max-width : 100%;
  height : auto;
}

span.caption {
  display : none;
  position : absolute;
  background-color : rgba(0,0,0,0.5);
  padding : 0.4em;
  font-size : 75%;
  z-index : 1;
}

